/* estilo tablet */
@media only screen and (min-width: 788px) and (max-width: 979px) {
  /* portfolio */

  .portfolio .call {
    padding-top: 10px;
  }
  /* qualidade home */
  .qualidade::after {
    right: 66px;
  }
  .qualidade_lista li {
    padding: 0 10px;
  }
  /* footer redes sociais */
  .footer-redes ul li a {
    border: 3px solid #fec63f;
    display: block;
    padding: 3px;
  }
  .footer-redes ul li a img {
    width: 26px;
    height: 26px;
  }
  .footer-redes {
    padding-left: 10px;
  }
  /* produtos */
  .produto-item h2 {
    top: -150px;
    margin-bottom: -58px;
  }

  .produto-icone {
    padding: 41px 0;
  }
  .produto-info p {
    font-size: 14px;
    line-height: 20px;
    padding: 20px 40px;
    height: 127px;
  }
  .produto-info ul li {
    font-size: 18px;
    width: 181px;
    height: 47px;
    padding-top: 14px;
  }
  .orcamento {
    margin-bottom: 45px;
  }
}
/* FIM DO ESRILO TABLET */
/* estilo smatphone */
@media only screen and (max-width: 787px) {
  /* header */
  .header {
    position: relative;
    padding-bottom: 0;
  }
  .header img {
    margin: 0 auto 10px auto;
  }
  .header_menu {
    text-align: center;
  }
  .header_menu ul li a {
    border: 4px solid #000;
    width: 136px;
    display: block;
    float: left;
  }
  .header_menu ul li a:hover {
    border-color: #fff;
  }
  .header_menu ul li {
    margin: 5px;
  }
  /* introdução */
  .introducao {
    margin-top: 0;
    padding-top: 40px;
    background: url("../img/bg-mobile.jpg") no-repeat center;
  }
  .introducao h1 {
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
  }
  .introducao-interna {
    margin-top: 0px;
  }

  .quote-externo {
    margin: -50px auto 20px auto;
  }
  /* portfolio */

  .portfolio_lista li:last-child {
    margin: 20px auto 20px auto;
  }
  .call {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  /* qualidade */
  .qualidade::after {
    display: none;
  }
  /* sobre */
  .missao-sobre p {
    padding-right: 0px;
    font-size: 14px;
    line-height: 26px;
  }
  .missao-sobre ul li {
    font-size: 14px;
    line-height: 25px;
  }
  .foto-equipe {
    padding-top: 20px;
  }

  /* produtos */
  .produto-item h2 {
    top: -105px;
    margin-bottom: -70px;
  }

  .produto-icone {
    padding: 35px 0;
  }
  .produto-info p {
    font-size: 14px;
    line-height: 20px;
    padding: 15px 40px;
    height: 130px;
  }
  .produto-info ul li {
    font-size: 14px;
    width: 149px;
    height: 47px;
    padding-top: 14px;
    line-height: 20px;
  }
  .form {
    padding-bottom: 15px;
    padding-right: 0px;
  }
  .orcamento-dados {
    padding-bottom: 40px;
  }
  /* contato */
  .form {
    padding-right: 0px;
  }
  .form button {
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .dados-email {
    margin-bottom: 20px;
  }
  .redes-contato h3 {
    padding-top: 15px;
  }
}
