.sobre {
  background: url("../img/bg-sobre.jpg") no-repeat center;
  padding-bottom: 10px;
}
.missao-sobre {
  padding-top: 40px;
}
.missao-sobre p {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 1em;
  padding-right: 40px;
  padding-top: 5px;
}
.foto-equipe {
  padding-top: 25px;
}
.missao-sobre ul li {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 25px;
}
.missao-sobre ul {
  padding-top: 3px;
}
.qualidade {
  padding-top: 10px;
}
